label {
    margin-right: 15px;
    line-height: 32px;
  }
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 18px;
    height: 18px;
  
    border: 1px solid #999;
    outline: none;
    margin-right: 5px;

    background-color: #f5f5f5;
  
    position: relative;
    top: 2px;
  }
  
  input:checked {
    border: 1px solid #999;
    position: relative;
  }

  input:active {
    border: 1px solid #999;
    background-color: #878a92;
    position: relative;
  }

  input:checked::after {
    content: '●';
    font-size: 13pt;
    color: black;
    position: absolute;
    left: 3px;
    top: -3px;
  }

  input:focus::after {
    content: '●';
    font-size: 13pt;
    color: black;
    position: absolute;
    left: 2px;
    top: -4px;
  }

  input:hover {
    background-color: #e8e8e8;
  }

  input[disabled] {
    background-color: #f2f2f2;
    border: 1px solid #dadada;
  }

  input[disabled] + label {
    color: #b2b2b2;
  }

  input[disabled][checked] {
    background-color: #f2f2f2;
    border: 1px solid #dadada;
    position: relative;
  }

  input[disabled][checked]::after {
    content: '●';
    font-size: 13pt;
    color: #a0a0a0;
    position: absolute;
    left: 3px;
    top: -3px;
  }

  input:focus {
    border: 2px solid #5199db;
    position: relative;
  }