.nav li {
    padding-left: 10px;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    color: #3072C4;
}

.nav {
    margin: auto;
    width: max-content;
    border: double;
    padding: 10px 30px;
    font-size: large;
}

.nav li:first-child {
    font-weight: 600;
}

.nav li::before{
    padding-right: 12px;
    content: "♦";
}

.nav li:first-child::before {
    content: none;
}